.mg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5)), url("../globalAssets/images/test.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}