.ProductSection {
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1)),
    url("https://img.freepik.com/free-photo/beautiful-mountains-landscape_23-2150788208.jpg?size=626&ext=jpg&uid=R135143294&ga=GA1.1.605707501.1697708835&semt=ais_ai_generated");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .ProductSection {
    height: 60rem;
  }
}
