.flightBg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1)), url("../assets//bookingBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}